.main {
  padding: 20px;
}

.sidebar {
  background: #2ecc71 !important;
  /* background-color: #20bf6b;
  border-radius: 5px;
  box-shadow: 0 0 2px gray; */
  margin-right: 20px;
  /* height: calc(100vh - 60px); */
  /* padding: 10px; */
  width: 200px;
}

.sidebar-collapsed {
  /* border-radius: 5px; */
  /* box-shadow: 0 0 2px gray; */
  margin-right: 20px;
  /* height: 100vh; */
  /* padding: 10px; */
  width: 80px;
}

.ant-menu {
  height: calc(100vh - 90px);
  background: #2ecc71 !important;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: #34495e !important;
}

.ant-menu-dark.ant-menu-vertical {
  height: 100vh;
}

.content {
  width: calc(100vw - 200px);
}

.header {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 2px gray;
  margin-bottom: 20px;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 2px gray;
  min-height: calc(90vh - 20px);
  padding: 1rem;
}

.header-right {
  margin-right: 4px;
}

.header-right:hover {
  text-decoration: underline;
}

.bell-icon {
  transform: translate(-3px, -3px);
  margin-right: 8px;
  cursor: pointer;
}

.ant-scroll-number {
  transform: translate(-4px, -4px);
}

@media screen and (max-width: 800px) {
  .content {
    width: 100%;
  }
}
